<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancelar</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(true)">Reiniciar</ion-button>
    </ion-buttons>

    <ion-title>
      Filtrar paises
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Hecho</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Paises</ion-list-header>

    <ion-item *ngFor="let pais of paises" [attr.pais]="pais.name | lowercase" [hidden]="!pais.exists">
      <ion-icon *ngIf="ios" slot="start" [name]="pais.icon" color="medium"></ion-icon>
      <ion-label>{{pais.name}}</ion-label>
      <ion-checkbox [(ngModel)]="pais.isChecked"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer translucent *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deseleccionar todo</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Seleccionar todo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
