<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
    <ion-title>Mi Lista de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label color="primary">
    <h1>Viajes</h1>
  </ion-label>
  <ion-label color="primary">
    <h2>A donde quiero ir?</h2>
  </ion-label>
  <ion-list>
    <ion-row style="border-bottom: groove;" color="primary">
      <ion-col size=6>
        <ion-label>Nombre Viaje</ion-label>
      </ion-col>

      <ion-col size=2>
        <ion-label>Modificar</ion-label>
      </ion-col>

      <ion-col size=2>
        <ion-label>Eliminar</ion-label>
      </ion-col>
    </ion-row>
    <ion-item button *ngFor="let viaje of viajesService.viajes">
      <ion-col size=6>
        <ion-item button [routerLink]="['/','viajes',viaje.id_usuario,viaje.id_viaje,'paises']">
          {{ viaje.nombre }}
        </ion-item>
      </ion-col>
      <ion-col size=2>
        <ion-item button (click)="sendPutRequest(viaje.id_usuario,viaje.id_viaje)">Modificar</ion-item>
      </ion-col>

      <ion-col size=2>
        <ion-item button (click)="sendDeleteRequest(viaje.id_viaje)" color="primary">Eliminar Viaje</ion-item>
      </ion-col>

    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding="true">
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col col2>
      <ion-label color="primary">
        <h1> Crear nuevo viaje</h1>
      </ion-label>
      <ion-textarea [(ngModel)]="nombreviaje" name="nombre" placeholder="Ingrese Viaje a Realizar"></ion-textarea>
      <ion-item button (click)="sendPostRequest()">Crear Viaje</ion-item>
    </ion-col>
    <ion-col col2>
      <ion-label color="primary">
        <h1> Nuevo nombre para la edicion</h1>
      </ion-label>
      <ion-textarea [(ngModel)]="inputnombre" name="inputnombre" placeholder="Ingrese Nuevo Nombre"></ion-textarea>
    </ion-col>
  </ion-row>
</ion-content>