<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div *ngIf="username" class="ion-padding-top ion-text-center">
    <img src="{{foto}}" alt="avatar">
    <h2>{{username}} {{lastname}}</h2>
    <ion-chip outline color="secondary" (click)='Agregar()'>
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-chip>
    <ion-chip outline color="secondary" (click)='Modificar()'>
      <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
      <ion-label>Modificar perfil</ion-label>
    </ion-chip>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{descripcion}}
    </ion-card-content>
  </ion-card>

</ion-content>