<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-segment [(ngModel)]="tabActiva" (ionChange)="actualizarSitios()">
      <ion-segment-button value="all">
        Todos
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="actualizarSitios()" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list #siteList [hidden]="mostrarSitio === 0">
    <ion-item-group *ngFor="let pais of paises" [hidden]="pais.hide">
      <ion-item-divider sticky>
        <ion-label>
          {{pais.pais}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let sitio of sitios" #slidingItem [attr.categoria]="sitio.categoria | lowercase"
        [hidden]="sitio.hide">
        <ion-item routerLink="/app/tabs/sitios/sitio/{{sitio.id_sitio}}" *ngIf="pais.id_pais == sitio.id_pais">
          <ion-label>
            <h3>{{sitio.nombre}}</h3>
            <p>
              {{sitio.categoria}} &mdash; {{sitio.precio}}<ion-icon *ngFor="let i of [].constructor(sitio.calificacion)"
                name="star"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="favorite" (click)="agregarFavorito(slidingItem, sitio)" *ngIf="tabActiva === 'all'">
            Favorito
          </ion-item-option>
          <ion-item-option color="danger" (click)="quitarFavorito(slidingItem, sitio, 'Quitar favorito')"
            *ngIf="tabActiva === 'favorites'">
            Remover
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="mostrarSitio > 0">
    Sitios no encontrados
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" (click)="openSocial('Google+', fab)">
        <ion-icon name="logo-googleplus"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>