$categories: (
  ionic: var(--ion-color-primary),
  volcan: #ac282b,
  monte: #53b1e7,
  montaña: #50320cd2,
  lago: #8e8d93,
  monumento: #fe4c52,
  galeria: #91ff00,
  jardin: #fd8b2d,
  zoologico: #fed035,
  parque: #69bb7b,
  mirador: #3bc7c4,
  comunidad: #b16be3,
  estructura: #6600cc,
  evento: #cc00a0,
  museo: #00ffd5,
);

@each $cat, $value in map-remove($categories) {
  ion-item-sliding[categoria='#{$cat}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}
