<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <img src="assets/img/appicon.svg" alt="Ionic Logo">
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none">
        <ion-item>
            <ion-label position="stacked" color="primary">Nombre</ion-label>
            <ion-input [(ngModel)]="signup.nombre" name="nombre" type="text" required>
            </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" color="primary">Apellido</ion-label>
              <ion-input [(ngModel)]="signup.apellido" name="apellido" type="text" required>
              </ion-input>
            </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="signup.email" name="email" type="text" #username="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="signup.pass" name="pass" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked" color="primary">Edad</ion-label>
          <ion-input [(ngModel)]="signup.edad" name="edad" type="number" #number="ngModel" required>
          </ion-input>
        </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
    </div>
  </form>

</ion-content>
