<ion-header>
    <ion-toolbar>
      <ion-title>Paises En Este Viaje</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-row style="height: 30px"></ion-row>
    <ion-label color="primary"><h1>Paises que visitare</h1></ion-label>
    <ion-list>
      <ion-item *ngFor="let item of results">
        <ion-col col-6>
          {{ item.pais }}
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
          <ion-item button (click)="sendDeleteRequestPais(item.id_pais)" color="primary" >Quitar Pais</ion-item>
        </ion-col>
      
      </ion-item>
  </ion-list>

  </ion-content>

  
  <ion-content>
  <ion-row style="height: 50px"></ion-row>

  <ion-label color="primary"><h1> Agregue Pais al Viaje</h1></ion-label>
  <ion-list>
    <ion-item>
      <ion-label>Paises</ion-label>
      <ion-select  [(ngModel)]="paisescogido" placeholder="Escoga un Pais">
        <ion-select-option  *ngFor="let listpais of paises" value={{listpais.id_pais}}>{{listpais.pais}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item button (click)="sendPostRequest()">AgregarPais</ion-item>

  </ion-content>


  <hr>
  <ion-content>
    <ion-label color="primary"><h1>Crear Planificacion</h1></ion-label>
    <ion-textarea [(ngModel)]="presupuesto" name="presupuesto" placeholder="Ingrese Presupuesto"></ion-textarea>
    <ion-textarea [(ngModel)]="tiempo" name="tiempo" placeholder="Ingrese Tiempo"></ion-textarea>
    <ion-item button  (click)="SendPresupuesto()">Enviar Planificacion</ion-item>
  </ion-content>