<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
    <ion-title>Mis planifcaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label color="primary">
    <h1>Planificaciones</h1>
  </ion-label>
  <ion-list>
    <ion-row style="border-bottom: groove;" color="primary">
      <ion-col size=5>
        <ion-label>Nombre Planificacion</ion-label>
      </ion-col>
      <ion-col size=2>
        <ion-label>Fecha inicio</ion-label>
      </ion-col>
      <ion-col size=2>
        <ion-label>Fecha fin</ion-label>
      </ion-col>
      <ion-col size=1>
        <ion-label></ion-label>
      </ion-col>

      <ion-col size=1>
        <ion-label></ion-label>
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let planificacion of planificacionService.planificaciones">
      <ion-col size=5>
          <ion-item button [routerLink]="['/','planviajes',planificacion.id_planificacion,planificacion.id_usuario]">                  
            {{planificacion.nombre}}
          </ion-item>
      </ion-col>
      <ion-col size=2>
        <ion-item>{{ planificacion.fecha_inicio }}</ion-item>
      </ion-col>
      <ion-col size=2>
        <ion-item>{{ planificacion.fecha_fin }}</ion-item>
      </ion-col>
      <ion-col size=1>
        <ion-item button (click)="sendPutRequest(planificacion.id_usuario,planificacion.id_planificacion)">Modificar</ion-item>
      </ion-col>

      <ion-col size=1>
        <ion-item button (click)="sendDeleteRequest(planificacion.id_planificacion)" color="primary">Eliminar</ion-item>
      </ion-col>

    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding="true">
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col col2>
      <ion-label color="primary">
        <h1> Crear nueva planificacion</h1>
      </ion-label>
      <ion-textarea [(ngModel)]="nombreplanificacion" name="nombre" placeholder="Ingrese Nombre de Planificacion a Realizar"></ion-textarea>
      <ion-item button (click)="sendPostRequest()">Crear Planificacion</ion-item>
    </ion-col>
    <ion-col col2>
      <ion-label color="primary">
        <h1> Nuevo nombre para la edicion</h1>
      </ion-label>
      <ion-textarea [(ngModel)]="inputnombre" name="inputnombre" placeholder="Ingrese Nuevo Nombre"></ion-textarea>
    </ion-col>
  </ion-row>
</ion-content>
