.login-logo {
  padding: 20px 0;
  min-height: 300px;
  text-align: center;
}

.login-logo img {
  max-width: 300px;
}

.list {
  margin-bottom: 0;
}
ion-content{
  --ion-background-color:#64f9f40a;
}