<ion-header>
  <ion-toolbar>
    <ion-title>Mi Lista de Viajes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding="true">    
  <ion-label color="primary"><h1>Viajes</h1></ion-label>
  <ion-label color="primary"><h2>A donde quiero ir?</h2></ion-label>
  <ion-list>

    <ion-row style="border-bottom: groove;" color="primary">
      


      <ion-col col-3>
        <ion-label >Nombre Viaje</ion-label>
      </ion-col>
      
      <ion-col col-3>
        <ion-label >Modificar</ion-label>
      </ion-col>
      
      <ion-col col-3>
        <ion-label >Eliminar</ion-label>
      </ion-col>
          
    
    </ion-row>


    <!--

      <ion-item button *ngFor="let item of results" [routerLink]="['/','viajes',item.id_usuario,item.id_viaje,'paises']">                  
    -->
    <ion-item button *ngFor="let item of results">
      <ion-col col-3>
          <ion-item button [routerLink]="['/','viajes',item.id_usuario,item.id_viaje,'paises']">                  
            {{item.nombre}}
          </ion-item>
      </ion-col>

      <ion-col col-3>

          <ion-item button [routerLink]="['/UpdateViaje',item.id_viaje]">Modificar</ion-item>
      </ion-col>

      <ion-col col-3>
          <ion-item button (click)="sendDeleteRequestViaje(item.id_viaje)" color="primary" >Eliminar Viaje</ion-item>
      </ion-col>

    </ion-item>

  </ion-list>
</ion-content>



<ion-content padding="true">
  <ion-label color="primary"><h1> Crear nuevo viaje</h1 ></ion-label>
  <ion-textarea [(ngModel)]="nombreviaje" name="nombre" placeholder="Ingrese Viaje a Realizar"></ion-textarea>
  <ion-item button (click)="sendPostRequest()" >Crear Viaje</ion-item>
</ion-content>

<!---
<ion-content padding="true">
    <ion-label color="primary"><h2> Modificar Viaje</h2></ion-label>
    <ion-textarea [(ngModel)]="nombreviaje" name="nombre" placeholder="Ingrese Viaje a Realizar"></ion-textarea>
    <ion-item button (click)="sendPostRequest()" >Modificar Viaje</ion-item>  
</ion-content>


<ion-content padding="true">
    <ion-label color="primary"><h2>Eliminar Viaje</h2></ion-label>
    <ion-textarea [(ngModel)]="nombreviaje" name="nombre" placeholder="Ingrese Viaje a Realizar"></ion-textarea>
    <ion-item button (click)="sendPostRequest()" >Eliminar Viaje</ion-item>
</ion-content>
-->




